
<div class="row row-wrap">
<h3>Последние новости</h3>

                        <div class="col-md-4">
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/news/1.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                <h5 class="hover-title hover-hold">Аэропорты расширяются ...</h5>
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/news/2.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                <h5 class="hover-title hover-hold">Аэропорты расширяются ...</h5>
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/news/3.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                <h5 class="hover-title hover-hold">Аэропорты расширяются ...</h5>
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>                    
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/news/4.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                <h5 class="hover-title hover-hold">Аэропорты расширяются ...</h5>
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/news/5.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                <h5 class="hover-title hover-hold">Аэропорты расширяются ...</h5>
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/news/6.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                <h5 class="hover-title hover-hold">Аэропорты расширяются ...</h5>
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                        </div>

                  
</div>


<div class="row row-wrap">
<h3>Полезные статьи</h3>

                        <div class="col-md-4">
                            <h5 class="hover-title hover-hold">Аланья - город отдыха ...</h5>
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/posts/1.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <h5 class="hover-title hover-hold">Из Анталии в Кемер ...</h5>
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/posts/2.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <h5 class="hover-title hover-hold">Оформление ВНЖ в Турции</h5>
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/posts/3.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                        </div>

                         <div class="col-md-4">
                            <h5 class="hover-title hover-hold">Аланья - город отдыха ...</h5>
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/posts/4.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <h5 class="hover-title hover-hold">Из Анталии в Кемер ...</h5>
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/posts/5.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <h5 class="hover-title hover-hold">Оформление ВНЖ в Турции</h5>
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/posts/6.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                        </div>

                  
</div>



<div class="row row-wrap">
<h3>Наши события</h3>

                        <div class="col-md-4">
                            <h5 class="hover-title-center-top hover-hold">Событие 1</h5>
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/sob/1.jpg" alt="Image Alternative text" title="AMaze" />
                                
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                        </div>


                        <div class="col-md-4">
                           <h5 class="hover-title-center-top hover-hold">Событие 2</h5>
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/sob/2.jpg" alt="Image Alternative text" title="AMaze" />
                                
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                            
                        </div>

                       <div class="col-md-4">
                           <h5 class="hover-title-center-top hover-hold">Событие 3</h5>
                            <a class="hover-img" href="#">
                                <img src="/img/images_to_main/sob/3.jpg" alt="Image Alternative text" title="AMaze" />
                                
                                <div class="hover-inner">
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                    <p>Здесь отображается краткая информация о записи.</p>
                                </div>
                            </a>
                            
                        </div>


</div>


                  
</div>