<div class="special-area">
                                    <div class="owl-carousel owl-slider owl-carousel-area" id="owl-carousel-slider">
                                        <div class="bg-holder full text-center text-white">
                                            <div class="bg-mask"></div>
                                            <div class="bg-img" style="background-image:url(img/sl1.jpg);"></div>
                                            <div class="bg-front full-center">
                                                <div class="owl-cap">
                                                    
                                                    <div class="owl-cap-price"><small>Текст слайда</small>
                                                        
                                                        </div><a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Перейти</a>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="bg-holder full text-center text-white">
                                                <div class="bg-mask"></div>
                                                <div class="bg-img" style="background-image:url(img/sl2.jpg);"></div>
                                                <div class="bg-front full-center">
                                                    <div class="owl-cap">
                                                        
                                                        <div class="owl-cap-price"><small>Текст слайда</small>
                                                            
                                                            </div><a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Перейти</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="bg-holder full text-center text-white">
                                                    <div class="bg-mask"></div>
                                                    <div class="bg-img" style="background-image:url(img/sl3.jpg);"></div>
                                                    <div class="bg-front full-center">
                                                        <div class="owl-cap">
                                                            
                                                            <div class="owl-cap-price"><small>Текст слайда</small>
                                                                
                                                                </div><a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Перейти</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>