<style type="text/css">
 #main-footer{
    padding: 20px 0 0 0 !important;
  }
</style>
        <footer id="main-footer">
            <div class="container">
                <div class="row row-wrap">

                    <div class="col-md-2">
                        <ul class="list list-footer">
                            <li><a href="#">Квартиры в Турции</a>
                            </li>
                            <li><a href="#">Квартиры в Кемере</a>
                            </li>
                            <li><a href="#">Квартиры в Мерсине</a>
                            </li>
                            <li><a href="#">Квартиры в Авсалларе</a>
                            </li>
                            <li><a href="#">Квартиры в Фетхие</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2">
                        <ul class="list list-footer">
                            <li><a href="#">Квартиры в Анталии</a>
                            </li>
                            <li><a href="#">Квартиры в Белеке</a>
                            </li>
                            <li><a href="#">Квартиры в Стамбуле</a>
                            </li>
                            <li><a href="#">Виллы в Махмутларе</a>
                            </li>
                            <li><a href="#">Виллы в Бордуме</a>
                            </li>
                        </ul>
                    </div>

                     <div class="col-md-2">
                        <ul class="list list-footer">
                            <li><a href="#">Квартиры в Алании</a>
                            </li>
                            <li><a href="#">Квартиры в Сиде</a>
                            </li>
                            <li><a href="#">Квартиры в Чешме</a>
                            </li>
                            <li><a href="#">Виллы в Кестеле</a>
                            </li>
                            <li><a href="#">Виллы в Измир</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2">
                        <ul class="list list-footer">
                            <li><a href="#">Квартиры в Авсалларе</a>
                            </li>
                            <li><a href="#">Квартиры в Фетхие</a>
                            </li>
                            <li><a href="#">Виллы в Турции</a>
                            </li>
                            <li><a href="#">Виллы в Кемире</a>
                            </li>
                            <li><a href="#">Виллы в Мерсине</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2">
                        <ul class="list list-footer">
                            <li><a href="#">Квартиры в Махмутларе</a>
                            </li>
                            <li><a href="#">Квартиры в Бордуме</a>
                            </li>
                            <li><a href="#">Виллы в Анталии</a>
                            </li>
                            <li><a href="#">Виллы в Белеке</a>
                            </li>
                            <li><a href="#">Виллы в Стамбуле</a>
                            </li>
                        </ul>
                    </div>
                   
                   <div class="col-md-2">
                        <ul class="list list-footer">
                            <li><a href="#">Квартиры в Кестеле</a>
                            </li>
                            <li><a href="#">Квартиры в Измир</a>
                            </li>
                            <li><a href="#">Виллы в Алании</a>
                            </li>
                            <li><a href="#">Виллы в Сиде</a>
                            </li>
                            <li><a href="#">Виллы в Чешме</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>