 <div class="col-md-3">
                    <aside class="booking-filters booking-filters-white">
                        <h3>Поиск</h3>
                        <ul class="list booking-filters-list">
                            <li>
                                <h5 class="booking-filters-title">Цена</h5>
                                <input type="text" id="price-slider">
                            </li>
                            <li>
                                <h5 class="booking-filters-title">Тип сделки</h5>
                                <div class="radio-inline">
                                    <label>
                                        <input class="i-radio" type="radio" name="myRadiolist" />Аренда</label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input class="i-radio" type="radio" name="myRadiolist" />Продажа</label>
                                </div>
                            </li>
                            <li>
                                <h5 class="booking-filters-title">Тип недвижимости</h5>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Студия</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Пентхауз</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Вилла</label>
                                </div>
                            </li>
                            <li>
                                <h5 class="booking-filters-title">Количество комнат</h5>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />1 + 0</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />1 + 1</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />2 + 1</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />3 + 1</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />4 + 1</label>
                                </div>
                            </li>
                             <li>
                               <div class="form-group form-group-lg form-group-select-plus">
                                    <label>Количество комнат</label>
                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" name="options" />1</label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" />2</label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" />3</label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" />3 +</label>
                                    </div>
                                    <select class="form-control hidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option selected="selected">4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </li> 
                            <li>
                                <h5 class="booking-filters-title">Расположение</h5>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Аланья</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Бордум</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Кемер</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Сиде</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Авсаллар</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Анталья</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Газипаша</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Кистель</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Оба</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Конаклы</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Белек</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Каш</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Махмутлар</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Тосмур</label>
                                </div>
                            </li>
                            <li>
                                <h5 class="booking-filters-title">Расстояние до моря(м)</h5>
                                <input type="text" id="distance-slider">
                            </li>
                            <li>
                               
                                <input  class="btn btn-primary btn-lg" type="submit" value="Искать" >
                            </li> 
                    
               
                        </ul>
                    </aside>
                </div>