  <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Главная</a>
                </li>
                <li class="active">Вся недвижимость</li>
            </ul>
            <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
                <h3>Дополнительные параметры поиска</h3>
                <form>
                    <div class="input-daterange" data-date-format="M d, D">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Кондиционеры</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Бытовая техника</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Электронагреватель</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Оформление ТАПУ</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Оформление ИСКАНА</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg" type="submit">Поиск</button>
                </form>
            </div>
            <h3 class="booking-title">Вся недвижимость<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">дополнительные параметры поиска</a></small></h3>
            <div class="row">
               <%= render '/projects/sidebar' %>
                <div class="col-md-9">
                   
               <%= render '/projects/index/project_grid' %>     
                </div>
            </div>
            <div class="gap"></div>
        </div>