  <style type="text/css">
    .hover-img img{
        width: 262px;
        height: 197px;
    }
</style>

  <div class="container">
            <ul class="breadcrumb">
            
            </ul>

            <div class="row">

               <%= render '/static/home/main_sidebar' %>  
                <div class="col-md-9">

                <%= render '/static/home/slider' %>     
                   
               <%= render '/static/home/projects' %>

               <%= render '/static/home/news' %>       
                </div>
            </div>
            <div class="gap"></div>
        </div>