<div class="container">
                <div class="nav">
                    <ul class="slimmenu" id="slimmenu">
                        <li><a href="#">Главная</a>
                        </li>
                        <li><a href="#">Наши проекты</a>
                            <ul>
                                <li><a href="#">Emerland Dreams</a>
                                </li>
                                <li><a href="#">Emerland Towers</a>
                                </li>
                                <li><a href="#">Emerland Park</a>
                                </li>
                                <li><a href="#">Turkuaz Residence</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/projects">Вся недвижимость</a>
                            <ul>
                                <li><a href="#">Алания</a>
                                    <ul>
                                        <li><a href="#">Центр</a>
                                        </li>
                                        <li><a href="#">Авсаллар</a>
                                        </li>
                                        <li><a href="#">Махмутлар</a>
                                        </li>
                                        <li><a href="#">Конаклы</a>
                                        </li>
                                        <li><a href="#">Оба</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Анталия</a>
                                </li>
                                <li><a href="#">Сида</a>
                                </li>
                                <li><a href="#">Кемер</a>
                                </li>
                            </ul>
                        </li>

                        <li><a href="#">О компании</a>
                            <ul>
                                <li><a href="#">История</a>
                                </li>
                                <li><a href="#">Команда</a>
                                </li>
                                <li><a href="#">Партнеры</a>
                                </li>
                                <li><a href="#">Выставки</a>
                                </li>
                                 <li><a href="#">Отзывы</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Услуги</a>
                        </li>
                        <li><a href="#">Бесплатный тур</a>
                        </li>
                        <li><a href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>