<div class="col-md-5">
                        <h4>В стоимость входят</h4>
                        <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                            <% if @project.has_conditioning == true %>
                                <li><i class="fa fa-fire"></i><span class="booking-item-feature-title">Кондиционеры</span>
                                </li>
                            <% end %>
                            <% if @project.has_water_heater == true %>    
                                <li><i class="fa fa-cutlery"></i><span class="booking-item-feature-title">Бытовая техника</span>
                                </li>
                            <% end %>
                            <% if @project.has_conditioning == true %>
                                <li><i class="fa fa-spinner"></i><span class="booking-item-feature-title">Электронагреватель воды</span>
                                </li>
                            <% end %>
                            <% if @project.has_furniture == true %>
                                <li><i class="fa fa-cubes"></i><span class="booking-item-feature-title">Мебель</span>
                                </li>
                            <% end %>
                            <% if @project.has_tapu == true %>
                                <li><i class="fa fa-edit"></i><span class="booking-item-feature-title">Оформление ТАПУ</span>
                                </li>
                            <% end %>
                            <% if @project.has_iskana == true %>
                                <li><i class="fa fa-file-image-o"></i><span class="booking-item-feature-title">Оформление ИСКАНА</span>
                                </li>
                            <% end %>

                        </ul>
                    </div>