<ul class="breadcrumb">
                <li><a href="#">Главная</a>
                </li>
                <li><a href="/projects">Все проекты</a>
                </li>
                <li class="active"><%= @project.name %>(id: <%= @project.sku %>)</li>
            </ul>