<div class="col-md-5">
    <h4>Условия кредита</h4>
    <form>
        <div class="form-group">
            <label>Первоначальный взнос</label>
            <input class="form-control" type="label" placeholder="10 000" />
        </div>
        <div class="form-group">
            <label>Срок кредита, лет</label>
            <input class="form-control" type="label" placeholder="10" />
        </div>
        <div class="form-group">
            <label>Процентная ставка %</label>
            <input class="form-control" type="label" placeholder="7" />
        </div>
        <div class="form-group">
            <label>Сумма выплаты </label>
            <input class="form-control" type="label" placeholder="12 000" readonly />
        </div>
        
    </form>
</div>