<% if flash[:notice] %>
	<div class="alert alert-success">
		<button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">&times;</span>
		</button>
		<p class="text-small"><%= flash[:notice] %></p>
	</div>
<%  end  %>