<ul class="list-inline">
                                <li>
                                    <SCRIPT Language="Javascript"> 
var NS = (navigator.appName == "Netscape");
var VERSION = parseInt(navigator.appVersion);
if (VERSION > 3) {
document.write('<a target="_blank" href="# name="Print" onClick="printit()"><i class="fa fa-print"></i> Распечатать</a>'); 
}
</script>
                                </li>
                                <li>
                                    <a href="#small-dialog" data-effect="mfp-zoom-out" ><i class="fa fa-mail-forward"></i> Отправить по e-mail</a>
                                
                                </li>
                                <li>
                                    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
                                    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,gplus" data-yashareTheme="counter"></div>
                                </li>
                             </ul> 